{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "This package provides a REST API to the Ignition Fuel server.",
    "title": "Ignition Fuel Server REST API",
    "contact": {
      "email": "info@openrobotics.org"
    },
    "license": {
      "name": "Apache 2.0"
    },
    "version": "0.1.0"
  },
  "host": "fuel.ignitionrobotics.org",
  "basePath": "/1.0",
  "paths": {
    "/admin/search": {
      "get": {
        "description": "Zero or more ElasticSearch configurations may be specified. The\nconfiguration marked as `primary` is the active ElasticSearch server.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "search"
        ],
        "summary": "Get a list of the available ElasticSearch configurations.",
        "operationId": "elasticSearchUpdate",
        "parameters": [
          {
            "type": "string",
            "description": "A personal access token.",
            "name": "Private-Token",
            "in": "header",
            "required": true,
            "schema": {
              "description": "A personal access token.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ElasticSearchConfigs"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "post": {
        "description": "Use this route to tell Fuel about a new ElasticSearch server.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "search"
        ],
        "summary": "Creates an ElasticSearch server configuration.",
        "operationId": "elasticSearchUpdate",
        "parameters": [
          {
            "type": "string",
            "description": "A personal access token.",
            "name": "Private-Token",
            "in": "header",
            "required": true,
            "schema": {
              "description": "A personal access token.",
              "type": "string"
            }
          },
          {
            "type": "string",
            "description": "URL address of an Elastic Search server.",
            "name": "address",
            "in": "body",
            "required": true,
            "schema": {
              "description": "URL address of an Elastic Search server.",
              "type": "string"
            }
          },
          {
            "type": "string",
            "description": "\"true\" to make this configuration the primary config.",
            "name": "primary",
            "in": "body",
            "schema": {
              "description": "\"true\" to make this configuration the primary config.",
              "type": "string",
              "default": "false"
            }
          },
          {
            "type": "string",
            "description": "Username for ElasticSearch authentication",
            "name": "username",
            "in": "body",
            "schema": {
              "description": "Username for ElasticSearch authentication",
              "type": "string"
            }
          },
          {
            "type": "string",
            "description": "Password for ElasticSearch authentication",
            "name": "password",
            "in": "body",
            "schema": {
              "description": "Password for ElasticSearch authentication",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ElasticSearchConfig"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/admin/search/rebuild": {
      "get": {
        "description": "Rebuilding the indices may take several minutes. Use this route when\nor if the ElasticSearch indices have become out of date.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "search"
        ],
        "summary": "Rebuilds the primary ElasticSearch indices.",
        "operationId": "elasticSearchUpdate",
        "parameters": [
          {
            "type": "string",
            "description": "A personal access token.",
            "name": "Private-Token",
            "in": "header",
            "required": true,
            "schema": {
              "description": "A personal access token.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AdminSearchResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/admin/search/reconnect": {
      "get": {
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "search"
        ],
        "summary": "Reconnects to the primary ElasticSearch server.",
        "operationId": "elasticSearchUpdate",
        "parameters": [
          {
            "type": "string",
            "description": "A personal access token.",
            "name": "Private-Token",
            "in": "header",
            "required": true,
            "schema": {
              "description": "A personal access token.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AdminSearchResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/admin/search/update": {
      "get": {
        "description": "This route will populate the primary ElasticSearch server with new\ndata contained in the Fuel database. This route may take several\nminutes to complete.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "search"
        ],
        "summary": "Updates the primary ElasticSearch servers indices.",
        "operationId": "elasticSearchUpdate",
        "parameters": [
          {
            "type": "string",
            "description": "A personal access token.",
            "name": "Private-Token",
            "in": "header",
            "required": true,
            "schema": {
              "description": "A personal access token.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AdminSearchResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/admin/search/{config_id}": {
      "delete": {
        "description": "Use this route to remove and ElasticSearch configuration.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "search"
        ],
        "summary": "Deletes an ElasticSearch server configuration.",
        "operationId": "elasticSearchUpdate",
        "parameters": [
          {
            "type": "string",
            "description": "A personal access token.",
            "name": "Private-Token",
            "in": "header",
            "required": true,
            "schema": {
              "description": "A personal access token.",
              "type": "string"
            }
          },
          {
            "type": "integer",
            "description": "ID of the ElasticSearch configuration.",
            "name": "config_id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "ID of the ElasticSearch configuration.",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ElasticSearchConfig"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "patch": {
        "description": "Set the username, password, address, and primary status of an\nElasticSearch server configuration.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "search"
        ],
        "summary": "Updates an ElasticSearch server configuration.",
        "operationId": "elasticSearchUpdate",
        "parameters": [
          {
            "type": "string",
            "description": "A personal access token.",
            "name": "Private-Token",
            "in": "header",
            "required": true,
            "schema": {
              "description": "A personal access token.",
              "type": "string"
            }
          },
          {
            "type": "integer",
            "description": "ID of the ElasticSearch configuration.",
            "name": "config_id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "ID of the ElasticSearch configuration.",
              "type": "integer"
            }
          },
          {
            "type": "string",
            "description": "URL address of an Elastic Search server.",
            "name": "address",
            "in": "body",
            "required": true,
            "schema": {
              "description": "URL address of an Elastic Search server.",
              "type": "string"
            }
          },
          {
            "type": "string",
            "description": "\"true\" to make this configuration the primary config.",
            "name": "primary",
            "in": "body",
            "schema": {
              "description": "\"true\" to make this configuration the primary config.",
              "type": "string",
              "default": "false"
            }
          },
          {
            "type": "string",
            "description": "Username for ElasticSearch authentication",
            "name": "username",
            "in": "body",
            "schema": {
              "description": "Username for ElasticSearch authentication",
              "type": "string"
            }
          },
          {
            "type": "string",
            "description": "Password for ElasticSearch authentication",
            "name": "password",
            "in": "body",
            "schema": {
              "description": "Password for ElasticSearch authentication",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ElasticSearchConfig"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/collections": {
      "get": {
        "description": "Get a list of collections. Collections will be returned paginated,\nwith pages of 20 items by default. The user can request a\ndifferent page with query parameter 'page', and the page size\ncan be defined with query parameter 'per_page'.\nThe route supports the 'order' parameter, with values 'asc' and\n'desc' (default: desc).\nIt also supports the 'q' parameter to perform a fulltext search on\nname and description.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Get list of collections.",
        "operationId": "listCollections",
        "responses": {
          "200": {
            "$ref": "#/responses/dbCollections"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "post": {
        "description": "Creates a new collection. The request body should contain the\nfollowing fields: 'name', 'description'. All values as strings.\nThe collection owner will be retrieved from the passed JWT.",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Create collection",
        "operationId": "createCollection",
        "responses": {
          "200": {
            "$ref": "#/responses/dbCollection"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/licenses": {
      "get": {
        "description": "Get the list of licenses. Licenses will be returned paginated,\nwith pages of 20 items by default. The user can request a\ndifferent page with query parameter 'page' (first page is value 1).\nThe page size can be controlled with query parameter 'per_page',\nwith a maximum of 100 items per page.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "licenses"
        ],
        "summary": "List licenses",
        "operationId": "listLicenses",
        "parameters": [
          {
            "minimum": 1,
            "type": "integer",
            "format": "int64",
            "default": 1,
            "x-go-name": "Page",
            "description": "The page to return",
            "name": "page",
            "in": "query"
          },
          {
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "format": "int64",
            "default": 20,
            "x-go-name": "PageSize",
            "description": "Size of the pages",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Licenses"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/login": {
      "get": {
        "description": "Returns information about the user associated with the given JWT.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "users"
        ],
        "summary": "Login user",
        "operationId": "loginUser",
        "responses": {
          "200": {
            "$ref": "#/responses/UserResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/models": {
      "get": {
        "description": "Get a list of models. Models will be returned paginated,\nwith pages of 20 models by default. The user can request a\ndifferent page with query parameter 'page', and the page size\ncan be defined with query parameter 'per_page'.\nThe route supports the 'order' parameter, with values 'asc' and\n'desc' (default: desc).\nIt also supports the 'q' parameter to perform a fulltext search on models\nname, description and tags.",
        "produces": [
          "application/json",
          "application/x-protobuf"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "summary": "Get list of models.",
        "operationId": "listModels",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "SearchQuery",
            "description": "Search query",
            "name": "q",
            "in": "query"
          },
          {
            "enum": [
              "asc",
              " desc"
            ],
            "type": "string",
            "default": "desc",
            "x-go-name": "Order",
            "name": "order",
            "in": "query"
          },
          {
            "minimum": 1,
            "type": "integer",
            "format": "int64",
            "default": 1,
            "x-go-name": "Page",
            "description": "The page to return",
            "name": "page",
            "in": "query"
          },
          {
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "format": "int64",
            "default": 20,
            "x-go-name": "PageSize",
            "description": "Size of the pages",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/jsonModels"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "post": {
        "description": "Creates a new model. The request body should contain the\nfollowing fields: 'modelName', 'urlName', 'description',\n'license' (number), 'permission' (number). All values as strings.\n'tags': a string containing a comma separated list of tags.\nThe model owner will be retrieved from the passed JWT.\n'file': multiple files in the multipart form.",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "summary": "Create model",
        "operationId": "createModel",
        "parameters": [
          {
            "x-go-name": "Model",
            "description": "Model data",
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateModel"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/dbModel"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/models/reviews": {
      "get": {
        "description": "Get a list of reviews. reviews will be returned paginated,\nwith pages of 20 reviews by default. The user can request a\ndifferent page with query parameter 'page', and the page size\ncan be defined with query parameter 'per_page'.\nThe route supports the 'order' parameter, with values 'asc' and\n'desc' (default: desc).\nIt also supports the 'q' parameter to perform a fulltext search on reviews\nname, description and tags.",
        "produces": [
          "application/json",
          "application/x-protobuf"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "reviews"
        ],
        "summary": "Get list of reviews for models.",
        "operationId": "listReviews",
        "responses": {
          "200": {
            "$ref": "#/responses/jsonReviews"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "post": {
        "tags": [
          "reviews"
        ],
        "summary": "Create a new model and a new review.",
        "operationId": "createModelAndReview"
      }
    },
    "/organizations": {
      "get": {
        "description": "Get the list of organizations. Organizations will be returned paginated,\nwith pages of 20 organizations by default. The user can request a\ndifferent page with query parameter 'page' (first page is value 1).\nThe page size can be controlled with query parameter 'per_page',\nwith a maximum of 100 items per page.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "organizations"
        ],
        "summary": "List organizations",
        "operationId": "listOrganizations",
        "responses": {
          "200": {
            "$ref": "#/responses/OrganizationResponses"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "post": {
        "description": "Creates a new organization. Note: the user identity will be retrieved from the passed JWT.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "organizations"
        ],
        "summary": "Create organization",
        "operationId": "createOrganization",
        "responses": {
          "200": {
            "$ref": "#/responses/OrganizationResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/organizations/{name}": {
      "get": {
        "description": "Return an organization given its name and a valid JWT.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "organizations"
        ],
        "summary": "Get an organization",
        "operationId": "singleOrganization",
        "responses": {
          "200": {
            "$ref": "#/responses/OrganizationResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "delete": {
        "description": "Deletes an organization given its name and a valid JWT.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "organizations"
        ],
        "summary": "Delete an organization",
        "operationId": "deleteOrganizations",
        "responses": {
          "200": {
            "$ref": "#/responses/OrganizationResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "patch": {
        "description": "Update an organization",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "organizations"
        ],
        "summary": "Update an organization",
        "operationId": "organizationUpdate",
        "responses": {
          "200": {
            "$ref": "#/responses/OrganizationResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/organizations/{name}/teams": {
      "get": {
        "description": "Return the list of teams of an organization.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "organizations"
        ],
        "summary": "Get the list of teams of an organization",
        "operationId": "orgTeams",
        "responses": {
          "200": {
            "$ref": "#/responses/TeamResponses"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "post": {
        "description": "Adds a team to an organization.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "organizations"
        ],
        "summary": "Adds a team to an organization",
        "operationId": "addTeamToOrganization",
        "responses": {
          "200": {
            "$ref": "#/responses/TeamResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/organizations/{name}/teams/{teamname}": {
      "get": {
        "description": "Return a team given its organization and team name.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "organizations"
        ],
        "summary": "Get a single team of an organization",
        "operationId": "singleTeam",
        "responses": {
          "200": {
            "$ref": "#/responses/TeamResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "delete": {
        "description": "Removes a team from an organization",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "organizations"
        ],
        "summary": "Removes a team",
        "operationId": "orgTeamDelete",
        "responses": {
          "200": {
            "$ref": "#/responses/TeamResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "patch": {
        "description": "Updates a team of an organization",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "organizations"
        ],
        "summary": "Updates a team",
        "operationId": "orgTeamUpdate",
        "responses": {
          "200": {
            "$ref": "#/responses/TeamResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/organizations/{name}/users": {
      "get": {
        "description": "Return the list of users of an organization.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "organizations"
        ],
        "summary": "Get the list of users of an organization",
        "operationId": "orgUsers",
        "responses": {
          "200": {
            "$ref": "#/responses/UserResponses"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "post": {
        "description": "Adds a user to an organization.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "organizations"
        ],
        "summary": "Adds a user to an organization",
        "operationId": "addUserToOrganization",
        "responses": {
          "200": {
            "$ref": "#/responses/UserResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/organizations/{name}/users/{username}": {
      "delete": {
        "description": "Removes a user from an organization",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "organizations"
        ],
        "summary": "Removes a user from an organization",
        "operationId": "orgUserDelete",
        "responses": {
          "200": {
            "$ref": "#/responses/UserResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/profile/{username}": {
      "get": {
        "description": "Get the profile of an owner",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "users"
        ],
        "summary": "Get the profile of an owner",
        "operationId": "ownerProfile",
        "responses": {
          "200": {
            "$ref": "#/responses/OwnerProfile"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/subt/leaderboard": {
      "get": {
        "description": "Get the Subt leaderboard.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "leaderboard"
        ],
        "summary": "Get the Subt leaderboard.",
        "operationId": "listLeaderboard",
        "responses": {
          "200": {
            "$ref": "#/responses/Leaderboard"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/subt/logfiles": {
      "get": {
        "description": "Get a list of log files.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "logfiles"
        ],
        "summary": "Get list of Subt log files.",
        "operationId": "listLogfiles",
        "responses": {
          "200": {
            "$ref": "#/responses/LogFiles"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "post": {
        "description": "Creates a new log file submission",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "logfiles"
        ],
        "summary": "Submit a SubT log file",
        "operationId": "submitLog",
        "responses": {
          "200": {
            "$ref": "#/responses/LogFile"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/subt/logfiles/{id}": {
      "get": {
        "description": "Updates a log file submission (eg. for scoring)",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "logfiles"
        ],
        "summary": "Update a log file",
        "operationId": "getLogFile",
        "responses": {
          "200": {
            "$ref": "#/responses/LogFile"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "delete": {
        "description": "Deletes a log file submission",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "logfiles"
        ],
        "summary": "Deletes a log file",
        "operationId": "deleteLogFile",
        "responses": {
          "200": {
            "$ref": "#/responses/LogFile"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "patch": {
        "description": "Updates a log file submission (eg. for scoring)",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "logfiles"
        ],
        "summary": "Update a log file",
        "operationId": "updateLogFile",
        "responses": {
          "200": {
            "$ref": "#/responses/LogFile"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/subt/logfiles/{id}/file": {
      "get": {
        "description": "Downloads a log file",
        "schemes": [
          "https"
        ],
        "tags": [
          "logfiles"
        ],
        "summary": "Downloads a log file",
        "operationId": "downloadLogFile",
        "responses": {
          "200": {
            "description": "File",
            "schema": {
              "$ref": "#/definitions/File"
            }
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/subt/participants": {
      "get": {
        "description": "Get a list of participants.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "participants"
        ],
        "summary": "Get list of Subt participants.",
        "operationId": "listParticipants",
        "responses": {
          "200": {
            "$ref": "#/responses/OrganizationResponses"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/subt/participants/{competition}/{name}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "participants"
        ],
        "summary": "Delete a Subt participant.",
        "operationId": "deleteSubtParticipants",
        "responses": {
          "200": {
            "$ref": "#/responses/CompetitionParticipant"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/subt/participants/{name}/logfiles": {
      "get": {
        "description": "Get a list of log files.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "logfiles"
        ],
        "summary": "Get list of Subt log files.",
        "operationId": "listPartLogfiles",
        "responses": {
          "200": {
            "$ref": "#/responses/LogFiles"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/subt/registrations": {
      "get": {
        "description": "Get a list of registrations.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "registrations"
        ],
        "summary": "Get list of Subt registrations.",
        "operationId": "listRegistrations",
        "responses": {
          "200": {
            "$ref": "#/responses/Registrations"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "post": {
        "description": "Creates a new pending registration for SubT.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "subtRegistrations"
        ],
        "summary": "Apply a SubT registration",
        "operationId": "applySubtReg",
        "responses": {
          "200": {
            "$ref": "#/responses/Registration"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/subt/registrations/{competition}/{name}": {
      "delete": {
        "description": "Deletes a pending registration for SubT.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "subtRegistrations"
        ],
        "summary": "Deletes a SubT registration",
        "operationId": "deleteSubtReg",
        "responses": {
          "200": {
            "$ref": "#/responses/Registration"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "patch": {
        "description": "Resolves a pending registration for SubT into Done or Rejected.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "subtRegistrations"
        ],
        "summary": "Resolves a SubT registration",
        "operationId": "resolveSubtReg",
        "responses": {
          "200": {
            "$ref": "#/responses/Registration"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/users": {
      "get": {
        "description": "Returns a paginated list of users,\nwith pages of 20 users by default. Only system administrators can\naccess this route. The administrator can request a\ndifferent page with query parameter 'page' (first page is value 1).\nThe page size can be controlled with query parameter 'per_page',\nwith a maximum of 100 items per page.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "users"
        ],
        "summary": "Get a list of users. Access limited to administrators.",
        "operationId": "listUsers",
        "parameters": [
          {
            "type": "integer",
            "description": "Request a specific page of users.",
            "name": "page",
            "in": "query",
            "schema": {
              "description": "Request a specific page of users.",
              "type": "integer"
            }
          },
          {
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "format": "int64",
            "default": 20,
            "x-go-name": "PageSize",
            "description": "Size of the pages",
            "name": "per_page",
            "in": "query"
          },
          {
            "type": "string",
            "description": "A personal access token.",
            "name": "Private-Token",
            "in": "header",
            "required": true,
            "schema": {
              "description": "A personal access token.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UserResponses"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "post": {
        "description": "Creates a new user. Note: the user identity will be retrieved from the passed JWT.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "users"
        ],
        "summary": "Create user",
        "operationId": "createUser",
        "parameters": [
          {
            "x-go-name": "User",
            "description": "The user data",
            "name": "user",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createUserPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UserResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/users/{username}": {
      "get": {
        "description": "Return a user given its username and a valid JWT.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "users"
        ],
        "summary": "Get a user",
        "operationId": "singleUser",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Username",
            "name": "username",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UserResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "delete": {
        "description": "Deletes a user given its username and a valid JWT.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "users"
        ],
        "summary": "Delete a user",
        "operationId": "deleteUser",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Username",
            "name": "username",
            "in": "path",
            "required": true
          }
        ]
      },
      "patch": {
        "description": "Updates a user given its username and a valid JWT.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "users"
        ],
        "summary": "Update a user",
        "operationId": "updateUser",
        "responses": {
          "200": {
            "$ref": "#/responses/UserResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/users/{username}/access-tokens": {
      "get": {
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "users"
        ],
        "summary": "Get the acccess tokens for a user.",
        "operationId": "getAccessToken"
      },
      "post": {
        "description": "Creates an access token for a user.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "users"
        ],
        "summary": "Creates an access token.",
        "operationId": "createAccessToken"
      }
    },
    "/users/{username}/access-tokens/revoke": {
      "post": {
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "users"
        ],
        "summary": "Delete an acccess token that belongs to a user.",
        "operationId": "revokeAccessToken"
      }
    },
    "/worlds": {
      "get": {
        "description": "Get a list of worlds. Worlds will be returned paginated,\nwith pages of 20 worlds by default. The user can request a\ndifferent page with query parameter 'page', and the page size\ncan be defined with query parameter 'per_page'.\nThe route supports the 'order' parameter, with values 'asc' and\n'desc' (default: desc).\nIt also supports the 'q' parameter to perform a fulltext search on worlds\nname, description and tags.",
        "produces": [
          "application/json",
          "application/x-protobuf"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "worlds"
        ],
        "summary": "Get list of worlds.",
        "operationId": "listWorlds",
        "responses": {
          "200": {
            "$ref": "#/responses/jsonWorlds"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "post": {
        "description": "Creates a new world. The request body should contain the\nfollowing fields: 'name', 'description',\n'license' (number), 'permission' (number). All values as strings.\n'tags': a string containing a comma separated list of tags.\nThe worlds owner will be retrieved from the passed JWT.\n'file': multiple files in the multipart form.",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "worlds"
        ],
        "summary": "Create world",
        "operationId": "createWorld",
        "responses": {
          "200": {
            "$ref": "#/responses/dbWorld"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/collections": {
      "get": {
        "description": "Get a list of collections for the specified owner.\nCollections will be returned paginated,\nwith pages of 20 items by default. The user can request a\ndifferent page with query parameter 'page' (first page is value 1).\nThe page size can be controlled with query parameter 'per_page',\nwith a maximum of 10belonging0 items per page.\nThe route supports the 'order' parameter, with values 'asc' and\n'desc' (default: desc).\nIt also supports the 'q' parameter to perform a fulltext search on\nname and description.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Get owner's collections",
        "operationId": "listOwnerCollections",
        "responses": {
          "200": {
            "$ref": "#/responses/dbCollections"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/collections/{collection}": {
      "get": {
        "description": "Return a collection given its owner and name.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Get a single collection from an owner",
        "operationId": "singleOwnerCollection",
        "responses": {
          "200": {
            "$ref": "#/responses/dbCollection"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "delete": {
        "description": "Deletes a Collection given its owner and name.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collection"
        ],
        "summary": "Delete a Collection",
        "operationId": "deleteCollection",
        "responses": {
          "200": {
            "$ref": "#/responses/OK"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "patch": {
        "description": "Update a collection",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Update a collection",
        "operationId": "collectionUpdate",
        "responses": {
          "200": {
            "$ref": "#/responses/dbCollection"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/collections/{collection}/clone": {
      "post": {
        "description": "Clones a collection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collections"
        ],
        "operationId": "cloneCollection",
        "responses": {
          "200": {
            "$ref": "#/responses/OK"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/collections/{collection}/models": {
      "get": {
        "description": "Return the list of models that belong to a collection",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Lists the models of a collection",
        "operationId": "collectionModels",
        "responses": {
          "200": {
            "$ref": "#/responses/dbCollectionAssets"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "post": {
        "description": "Adds a model to a collection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Add a model to a collection",
        "operationId": "collectionModelAdd",
        "responses": {
          "200": {
            "$ref": "#/responses/OK"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "delete": {
        "description": "Removes a model from a Collection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collection"
        ],
        "summary": "Remove model from Collection",
        "operationId": "collectionModelRemove",
        "responses": {
          "200": {
            "$ref": "#/responses/OK"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/collections/{collection}/transfer": {
      "post": {
        "description": "Transfer a collection",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collections"
        ],
        "operationId": "collectionTransfer",
        "responses": {
          "200": {
            "description": "Model",
            "schema": {
              "$ref": "#/definitions/Model"
            }
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/collections/{collection}/worlds": {
      "get": {
        "description": "Return the list of worlds that belong to a collection",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Lists the worlds of a collection",
        "operationId": "collectionWorlds",
        "responses": {
          "200": {
            "$ref": "#/responses/dbCollectionAssets"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "post": {
        "description": "Adds a world to a collection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Add a world to a collection",
        "operationId": "collectionWorldAdd",
        "responses": {
          "200": {
            "$ref": "#/responses/OK"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "delete": {
        "description": "Removes a world from a Collection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collection"
        ],
        "summary": "Remove world from Collection",
        "operationId": "collectionWorldRemove",
        "responses": {
          "200": {
            "$ref": "#/responses/OK"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/collections/{collection}/{version}/files/{path}": {
      "get": {
        "produces": [
          "application/octet-stream"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Download an individual file from a collection.",
        "operationId": "downloadColFile",
        "responses": {
          "200": {
            "$ref": "#/responses/fileResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/likes/models": {
      "get": {
        "description": "Get a list of models liked by the specified user.\nModels will be returned paginated, with pages of 20 models by default.\nThe user can request a different page with query parameter 'page' (first page is value 1).\nThe page size can be controlled with query parameter 'per_page', with a maximum of\n100 items per page.\nThe route supports the 'order' parameter, with values 'asc' and 'desc' (default: desc).\nIt also supports the 'q' parameter to perform a fulltext search on models name,\ndescription and tags.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "summary": "Get models liked by a user.",
        "operationId": "modelLikeList",
        "responses": {
          "200": {
            "$ref": "#/responses/jsonModels"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/likes/worlds": {
      "get": {
        "description": "Get a list of worlds liked by the specified user.\nWorlds will be returned paginated, with pages of 20 worlds by default.\nThe user can request a different page with query parameter 'page' (first page is value 1).\nThe page size can be controlled with query parameter 'per_page', with a maximum of\n100 items per page.\nThe route supports the 'order' parameter, with values 'asc' and 'desc' (default: desc).\nIt also supports the 'q' parameter to perform a fulltext search on world's name,\ndescription and tags.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "worlds"
        ],
        "summary": "Get worlds liked by a user.",
        "operationId": "worldLikeList",
        "responses": {
          "200": {
            "$ref": "#/responses/jsonWorlds"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/models": {
      "get": {
        "description": "Get a list of models for the specified owner.\nModels will be returned paginated,\nwith pages of 20 models by default. The user can request a\ndifferent page with query parameter 'page' (first page is value 1).\nThe page size can be controlled with query parameter 'per_page',\nwith a maximum of 100 items per page.\nThe route supports the 'order' parameter, with values 'asc' and\n'desc' (default: desc).\nIt also supports the 'q' parameter to perform a fulltext search on models\nname, description and tags.",
        "produces": [
          "application/json",
          "application/x-protobuf"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "summary": "Get owner's models",
        "operationId": "listOwnerModels",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Username",
            "name": "username",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SearchQuery",
            "description": "Search query",
            "name": "q",
            "in": "query"
          },
          {
            "enum": [
              "asc",
              " desc"
            ],
            "type": "string",
            "default": "desc",
            "x-go-name": "Order",
            "name": "order",
            "in": "query"
          },
          {
            "minimum": 1,
            "type": "integer",
            "format": "int64",
            "default": 1,
            "x-go-name": "Page",
            "description": "The page to return",
            "name": "page",
            "in": "query"
          },
          {
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "format": "int64",
            "default": 20,
            "x-go-name": "PageSize",
            "description": "Size of the pages",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/jsonModels"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/models/{model}": {
      "get": {
        "description": "Return a model zip file given its owner, name, and version.",
        "produces": [
          "application/zip"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "summary": "Get a single model zip file from an owner",
        "operationId": "singleOwnerModel",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Username",
            "name": "username",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Model",
            "description": "Model name",
            "name": "model",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Model",
            "schema": {
              "$ref": "#/definitions/Model"
            }
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "delete": {
        "description": "Deletes a model given its owner and name.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "summary": "Delete a model",
        "operationId": "deleteModel",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "UUID",
            "name": "uuid",
            "in": "path",
            "required": true
          }
        ]
      },
      "patch": {
        "description": "Update a model",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "summary": "Update a model",
        "operationId": "modelUpdate",
        "responses": {
          "200": {
            "description": "Model",
            "schema": {
              "$ref": "#/definitions/Model"
            }
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/models/{model}/clone": {
      "post": {
        "description": "Clones a model.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "summary": "Clones a models",
        "operationId": "cloneModel",
        "responses": {
          "200": {
            "$ref": "#/responses/OK"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/models/{model}/collections": {
      "get": {
        "description": "List of collections associated to a model.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collections"
        ],
        "summary": "List of collections associated to a model.",
        "operationId": "modelCollections",
        "responses": {
          "200": {
            "$ref": "#/responses/dbCollections"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/models/{model}/likes": {
      "post": {
        "description": "Like a model",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "operationId": "modelLikeCreate",
        "responses": {
          "200": {
            "description": "Model",
            "schema": {
              "$ref": "#/definitions/Model"
            }
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "delete": {
        "description": "Unlike a model",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "operationId": "modelUnlike",
        "responses": {
          "200": {
            "description": "Model",
            "schema": {
              "$ref": "#/definitions/Model"
            }
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/models/{model}/report": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "summary": "Reports a model.",
        "operationId": "reportModel",
        "responses": {
          "200": {
            "$ref": "#/responses/OK"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/models/{model}/reviews": {
      "post": {
        "tags": [
          "reviews"
        ],
        "summary": "Create a new review for an existing model.",
        "operationId": "createModelReview"
      }
    },
    "/{username}/models/{model}/reviews/{reviewId}": {
      "patch": {
        "tags": [
          "reviews"
        ],
        "summary": "Updates an existing review.",
        "operationId": "updateReview"
      }
    },
    "/{username}/models/{model}/transfer": {
      "post": {
        "description": "Transfer a model",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "operationId": "modelTransfer",
        "responses": {
          "200": {
            "description": "Model",
            "schema": {
              "$ref": "#/definitions/Model"
            }
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/models/{model}/{version}/files": {
      "get": {
        "description": "Return the files information of a given model.",
        "produces": [
          "application/json",
          "application/x-protobuf"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "summary": "Model's file tree.",
        "operationId": "modelFileTree",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "UUID",
            "name": "uuid",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ModelFileTree"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/models/{model}/{version}/files/{path}": {
      "get": {
        "produces": [
          "application/octet-stream"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "summary": "Download an individual file from a model.",
        "operationId": "downloadModelFile",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "File path within model",
            "name": "path",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "UUID",
            "name": "uuid",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/fileResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/models/{model}/{version}/{model}": {
      "get": {
        "description": "Return a model zip file given its owner, name, and version.",
        "produces": [
          "application/zip"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "summary": "Get a single model zip file from an owner",
        "operationId": "singleOwnerModel",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Username",
            "name": "username",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Model",
            "description": "Model name",
            "name": "model",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Model",
            "schema": {
              "$ref": "#/definitions/Model"
            }
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/worlds": {
      "get": {
        "description": "Get a list of worlds for the specified owner.\nWorlds will be returned paginated,\nwith pages of 20 worlds by default. The user can request a\ndifferent page with query parameter 'page' (first page is value 1).\nThe page size can be controlled with query parameter 'per_page',\nwith a maximum of 100 items per page.\nThe route supports the 'order' parameter, with values 'asc' and\n'desc' (default: desc).\nIt also supports the 'q' parameter to perform a fulltext search on worlds\nname, description and tags.",
        "produces": [
          "application/json",
          "application/x-protobuf"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "worlds"
        ],
        "summary": "Get owner's worlds",
        "operationId": "listOwnerWorlds",
        "responses": {
          "200": {
            "$ref": "#/responses/jsonWorlds"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/worlds/{world}": {
      "get": {
        "description": "Return a world given its owner and name.",
        "produces": [
          "application/json",
          "application/x-protobuf",
          "application/zip"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "worlds"
        ],
        "summary": "Get a single world from an owner",
        "operationId": "singleOwnerWorld",
        "responses": {
          "200": {
            "$ref": "#/responses/World"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "delete": {
        "description": "Deletes a world given its owner and name.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "world"
        ],
        "summary": "Delete a world",
        "operationId": "deleteWorld"
      },
      "patch": {
        "description": "Update a world",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "worlds"
        ],
        "summary": "Update a world",
        "operationId": "worldUpdate",
        "responses": {
          "200": {
            "$ref": "#/responses/World"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/worlds/{world}/clone": {
      "post": {
        "description": "Clones a world.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "worlds"
        ],
        "summary": "Clones a world",
        "operationId": "cloneWorld",
        "responses": {
          "200": {
            "$ref": "#/responses/OK"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/worlds/{world}/collections": {
      "get": {
        "description": "List of collections associated to a world.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "collections"
        ],
        "summary": "List of collections associated to a world.",
        "operationId": "worldCollections",
        "responses": {
          "200": {
            "$ref": "#/responses/dbCollections"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/worlds/{world}/likes": {
      "post": {
        "description": "Like a world",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "worlds"
        ],
        "operationId": "worldLikeCreate",
        "responses": {
          "200": {
            "$ref": "#/responses/World"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      },
      "delete": {
        "description": "Unlike a world",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "worlds"
        ],
        "operationId": "worldUnlike",
        "responses": {
          "200": {
            "$ref": "#/responses/World"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/worlds/{world}/report": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "worlds"
        ],
        "summary": "Reports a world.",
        "operationId": "reportWorld",
        "responses": {
          "200": {
            "$ref": "#/responses/OK"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/worlds/{world}/transfer": {
      "post": {
        "description": "Transfer a world",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "models"
        ],
        "operationId": "worldTransfer",
        "responses": {
          "200": {
            "description": "Model",
            "schema": {
              "$ref": "#/definitions/Model"
            }
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/worlds/{world}/{version}/files": {
      "get": {
        "description": "Return the files information of a given world.",
        "produces": [
          "application/json",
          "application/x-protobuf"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "worlds"
        ],
        "summary": "World's file tree.",
        "operationId": "worldFileTree",
        "responses": {
          "200": {
            "$ref": "#/responses/WorldFileTree"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/worlds/{world}/{version}/files/{path}": {
      "get": {
        "produces": [
          "application/octet-stream"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "worlds"
        ],
        "summary": "Download an individual file from a world.",
        "operationId": "downloadWorldFile",
        "responses": {
          "200": {
            "$ref": "#/responses/fileResponse"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/worlds/{world}/{version}/{world}": {
      "get": {
        "description": "Return a world zip file given its owner, name, and version.",
        "produces": [
          "application/zip"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "worlds"
        ],
        "summary": "Get a single world zip file from an owner",
        "operationId": "singleOwnerWorld",
        "responses": {
          "200": {
            "$ref": "#/responses/World"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    },
    "/{username}/worlds/{world}/{version}/{world}/modelrefs": {
      "get": {
        "description": "Return the external models referenced by a world.",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "worlds"
        ],
        "summary": "World's model references.",
        "operationId": "worldModelIncludes",
        "responses": {
          "200": {
            "$ref": "#/responses/ModelIncludes"
          },
          "default": {
            "$ref": "#/responses/fuelError"
          }
        }
      }
    }
  },
  "definitions": {
    "CreateModel": {
      "description": "CreateModel encapsulates data required to create a model",
      "type": "object",
      "required": [
        "name",
        "license",
        "file"
      ],
      "properties": {
        "categories": {
          "description": "Categories",
          "type": "string",
          "maximum": 2,
          "x-go-name": "Categories"
        },
        "description": {
          "description": "Optional description",
          "type": "string",
          "x-go-name": "Description"
        },
        "file": {
          "description": "One or more files",
          "type": "string",
          "x-go-name": "File"
        },
        "license": {
          "description": "License ID",
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "x-go-name": "License"
        },
        "metadata": {
          "$ref": "#/definitions/ModelMetadata"
        },
        "name": {
          "description": "The name of the Model",
          "type": "string",
          "x-go-name": "Name"
        },
        "owner": {
          "description": "Optional Owner of the model. Must be a user or an org.\nIf not set, the current user will be used as owner",
          "type": "string",
          "x-go-name": "Owner"
        },
        "permission": {
          "description": "The associated permissions. 0 for public, 1 for private models.",
          "type": "integer",
          "format": "int64",
          "enum": [
            0,
            " 1"
          ],
          "x-go-name": "Permission"
        },
        "private": {
          "description": "Optional privacy/visibility setting.",
          "type": "boolean",
          "x-go-name": "Private"
        },
        "tags": {
          "description": "A comma separated list of tags",
          "type": "string",
          "x-go-name": "Tags"
        },
        "urlName": {
          "description": "Url name",
          "type": "string",
          "x-go-name": "URLName"
        }
      },
      "x-go-package": "gitlab.com/ignitionrobotics/web/fuelserver/bundles/models"
    },
    "ErrMsg": {
      "description": "ErrMsg is serialized as JSON, and returned if the request does not succeed\nTODO: consider making ErrMsg an 'error'",
      "type": "object",
      "properties": {
        "errcode": {
          "description": "Internal error code.",
          "type": "integer",
          "format": "int64",
          "x-go-name": "ErrCode"
        },
        "errid": {
          "description": "Generated ID for easy tracking in server logs",
          "type": "string",
          "x-go-name": "ErrID"
        },
        "extra": {
          "description": "Extra information/arguments associated to Error message.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-go-name": "Extra"
        },
        "msg": {
          "description": "Error message.",
          "type": "string",
          "x-go-name": "Msg"
        },
        "remote-address": {
          "description": "Associated request remote address, if applicable",
          "type": "string",
          "x-go-name": "RemoteAddress"
        },
        "route": {
          "description": "Associated request Route, if applicable",
          "type": "string",
          "x-go-name": "Route"
        },
        "user-agent": {
          "description": "Associated request User-Agent, if applicable",
          "type": "string",
          "x-go-name": "UserAgent"
        }
      },
      "x-go-package": "gitlab.com/ignitionrobotics/web/ign-go"
    },
    "File": {
      "type": "object",
      "title": "File represents an open file descriptor.",
      "x-go-package": "os"
    },
    "Metadatum": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "x-go-name": "Key"
        },
        "value": {
          "type": "string",
          "x-go-name": "Value"
        }
      },
      "x-go-package": "gitlab.com/ignitionrobotics/web/fuelserver/proto"
    },
    "Model": {
      "type": "object",
      "properties": {
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-go-name": "Categories"
        },
        "createdAt": {
          "type": "string",
          "x-go-name": "CreatedAt"
        },
        "deletedAt": {
          "type": "string",
          "x-go-name": "DeletedAt"
        },
        "description": {
          "type": "string",
          "x-go-name": "Description"
        },
        "downloads": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Downloads"
        },
        "filesize": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Filesize"
        },
        "is_liked": {
          "type": "boolean",
          "x-go-name": "IsLiked"
        },
        "license_id": {
          "type": "integer",
          "format": "uint64",
          "x-go-name": "LicenseId"
        },
        "license_image": {
          "type": "string",
          "x-go-name": "LicenseImage"
        },
        "license_name": {
          "type": "string",
          "x-go-name": "LicenseName"
        },
        "license_url": {
          "type": "string",
          "x-go-name": "LicenseUrl"
        },
        "likes": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Likes"
        },
        "metadata": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Metadatum"
          },
          "x-go-name": "Metadata"
        },
        "modify_date": {
          "type": "string",
          "x-go-name": "ModifyDate"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "owner": {
          "type": "string",
          "x-go-name": "Owner"
        },
        "permission": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Permission"
        },
        "private": {
          "type": "boolean",
          "x-go-name": "Private"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-go-name": "Tags"
        },
        "thumbnail_url": {
          "type": "string",
          "x-go-name": "ThumbnailUrl"
        },
        "updatedAt": {
          "type": "string",
          "x-go-name": "UpdatedAt"
        },
        "upload_date": {
          "type": "string",
          "x-go-name": "UploadDate"
        },
        "url_name": {
          "type": "string",
          "x-go-name": "UrlName"
        },
        "version": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Version"
        }
      },
      "x-go-package": "gitlab.com/ignitionrobotics/web/fuelserver/proto"
    },
    "ModelMetadata": {
      "description": "ModelMetadata is an array of ModelMetadatum",
      "type": "array",
      "items": {
        "$ref": "#/definitions/ModelMetadatum"
      },
      "x-go-package": "gitlab.com/ignitionrobotics/web/fuelserver/bundles/models"
    },
    "ModelMetadatum": {
      "description": "ModelMetadatum is here so that world and model metadata are stored\nin separate tables.",
      "type": "object",
      "properties": {
        "CreatedAt": {
          "type": "string",
          "format": "date-time"
        },
        "ModelID": {
          "description": "ModelID is the ID of the resource to which this metadata is attached.",
          "type": "integer",
          "format": "uint64"
        },
        "UpdatedAt": {
          "type": "string",
          "format": "date-time"
        },
        "key": {
          "description": "Key is the string containing the metadata key value.",
          "type": "string",
          "x-go-name": "Key"
        },
        "value": {
          "description": "Value is the string containing the metadata value associated with the key.",
          "type": "string",
          "x-go-name": "Value"
        }
      },
      "x-go-package": "gitlab.com/ignitionrobotics/web/fuelserver/bundles/models"
    },
    "createUserPayload": {
      "description": "TODO: use this struct to parse and validate input parameters hadler_users.go",
      "type": "object",
      "title": "CreateUser is used to represent user input in swagger documentation.",
      "required": [
        "username",
        "email"
      ],
      "properties": {
        "email": {
          "description": "email",
          "type": "string",
          "x-go-name": "Email"
        },
        "name": {
          "description": "Name",
          "type": "string",
          "x-go-name": "Name"
        },
        "org": {
          "description": "Organization",
          "type": "string",
          "x-go-name": "Organization"
        },
        "username": {
          "description": "Username",
          "type": "string",
          "x-go-name": "Username"
        }
      },
      "x-go-package": "gitlab.com/ignitionrobotics/web/fuelserver"
    }
  },
  "responses": {
    "fileResponse": {
      "description": "File response",
      "schema": {
        "$ref": "#/definitions/File"
      }
    },
    "fuelError": {
      "description": "Ign Fuel error serialized as JSON",
      "schema": {
        "$ref": "#/definitions/ErrMsg"
      }
    },
    "jsonModels": {
      "description": "Array of Models",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Model"
        }
      }
    }
  }
}