<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Ignition Robotics</title>
  <meta name="description" content="Ignition Robotics App">
  <meta http-equiv="Refresh" content="0; URL=https://app.ignitionrobotics.org/{{ .Owner }}/fuel/models/{{ .Name }}">

  {{ if .Description }}
  <meta name="og:description" content="{{ .Description }}">
  <meta name="twitter:description" content="{{ .Description }}">
  {{ else }}
  <meta name="og:description" content="A model on the Ignition App.">
  <meta name="twitter:description" content="A model on the Ignition App.">
  {{ end }}

  {{ if .ThumbnailUrl }}
  <meta name="og:image" content="https://fuel.ignitionrobotics.org/1.0{{ .ThumbnailUrl }}">
  <meta name="twitter:image" content="https://fuel.ignitionrobotics.org/1.0{{ .ThumbnailUrl }}">
  {{ else }}
  <meta name="og:image" content="Ignition Robotics App">
  <meta name="twitter:image" content="Ignition Robotics App">
  {{ end }}

  <meta name="og:title" content="{{ .Name }}">
  <meta property="og:type" content="website">
  <meta name="og:url" content="https://app.ignitionrobotics.org/fuel/{{ .Owner }}/models/{{ .Name }}">

  <meta name="twitter:title" content="{{ .Name }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image:alt" content="{{ .Name }}">
</head>
<body>
</body>
</html>